@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-logo: var(--font-lobster);
}

@layout components {
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;
  font-size: default;
}

h1 {
  @apply font-semibold lg:text-5xl sm:text-4xl text-3xl
}

.logo {
  font-family: Lobster;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 1.5rem;
}
.navLinks {
    @apply text-foreground font-medium transform transition hover:-translate-y-1;
  }
.btn {
    @apply px-4 py-2 bg-sky-100 text-black text-sm font-semibold rounded hover:bg-sky-200;
  }
.custom-checkbox {
  @apply 
    w-6 
    h-6 
    rounded-full 
    border-2 
    flex 
    items-center 
    justify-center 
    transition-all 
    duration-200;
}

.custom-checkbox:not(.border-black) {
  border-color: #A0A0A0; 
}